<a href="https://colab.research.google.com/github/Ramkinarayana/sepsis_physio/blob/colab_repo1/Sepsis_Data_Split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Libraries to be imported**

In [ ]:
from os import listdir
import pandas as pd
import csv

In [ ]:
sepsis_home_dir = "C:/Learning/AIMLDL/Sepsis"
orig_data_dir=  sepsis_home_dir + "/data"
data_ntemp_dir = sepsis_home_dir + "/data"

### Format of a psv

In [ ]:
sampl = pd.read_csv(orig_data_dir+'/training/p000001.psv', sep='|')
sampl.head()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,1,0
1,97.0,95.0,NaN,98.0,75.33,NaN,19.0,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,2,0
2,89.0,99.0,NaN,122.0,86.00,NaN,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,3,0
3,90.0,95.0,NaN,NaN,NaN,NaN,30.0,NaN,24.0,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,4,0
4,103.0,88.5,NaN,122.0,91.33,NaN,24.5,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,5,0

## **Merge Data**

### **Train -Validation-Test Split**

Split the data. Add Patient data and time for each record

Train : 30K Patients
Test : 5K Patients
Validation : 5K Patients

In [ ]:
a_traincsv = listdir(orig_data_dir+'/training/')
b_traincsv = listdir(orig_data_dir+'/training_setB/')


with open(data_temp_dir+'/train_patient.csv', 'w') as csvoutput:
  writer = csv.writer(csvoutput, lineterminator='\n')


  for ind, csv_name in enumerate(a_traincsv):
    with open(orig_data_dir+'/training/'+ csv_name,'r') as csvinput:

    
      reader = csv.reader(csvinput, delimiter='|')
      all = []
      
      if ind ==0 :
        row = next(reader)
        row.append('Patient_id')
        row.append('time')
        all.append(row)
      else:
        row = next(reader)

      for i,row in enumerate(reader):
        row.append(ind)
        row.append(i)
        
        
        all.append(row)

      writer.writerows(all)
 

  num = ind 


  for inde, csv_name in enumerate(b_traincsv):
    if inde < 10000:
      num = num+1
      with open(orig_data_dir+'/training_setB/'+ csv_name,'r') as csvinput:


        reader = csv.reader(csvinput, delimiter='|')
        all = []


        row = next(reader)
        for i,row in enumerate(reader):
          row.append(num)
          row.append(i)


          all.append(row)

        writer.writerows(all)

In [ ]:
train = pd.read_csv(data_ntemp_dir+'/train_patient.psv', sep ='|')
train.shape

(1168686, 41)

In [ ]:
with open(data_temp_dir+'/validation_patient.csv', 'w') as csvoutput:
  writer = csv.writer(csvoutput, lineterminator='\n')

  for inde, csv_name in enumerate(b_traincsv):
    
    if inde >=10000 and inde <15000:
      with open(orig_data_dir+'/training_setB/'+ csv_name,'r') as csvinput:


        reader = csv.reader(csvinput, delimiter='|')
        all = []

        
        if inde ==10000 :
          row = next(reader)
          row.append('Patient_id')
          row.append('time')
          all.append(row)
        else:
          row = next(reader)

        for i,row in enumerate(reader):
          row.append(inde)
          row.append(i)


          all.append(row)

        writer.writerows(all)

In [ ]:
validation = pd.read_csv(data_ntemp_dir+'/validation_patient.psv', sep ='|')
validation.shape

(193026, 41)

In [ ]:
with open(data_temp_dir+'/test_patient.csv', 'w') as csvoutput:
  writer = csv.writer(csvoutput, lineterminator='\n')

  for inde, csv_name in enumerate(b_traincsv):
    
    if inde >=15000:
      with open(orig_data_dir+'/training_setB/'+ csv_name,'r') as csvinput:


        reader = csv.reader(csvinput, delimiter='|')
        all = []

        
        if inde ==15000 :
          row = next(reader)
          row.append('Patient_id')
          row.append('time')
          all.append(row)
        else:
          row = next(reader)

        for i,row in enumerate(reader):
          row.append(inde)
          row.append(i)


          all.append(row)

        writer.writerows(all)

In [ ]:
test = pd.read_csv(data_ntemp_dir+'/test_patient.csv', sep ='|')
test.shape

(190615, 41)